.priceWrap {
  display: flex;
  flex-direction: column;
  align-items: start;
  .form {
    margin-bottom: 20px;
  }
  .subBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    border: none;
    padding: 8px;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    // animation: upDawn 1s infinite;
    margin-bottom: 20px;
    outline: none;
    border: none;
    background-color: rgb(184, 222, 184);
    color: rgb(135, 135, 135);
    font-weight: 700;
    transition: 0.6s ease-in-out;
    &:hover {
      color: black;
      background-color: rgb(91, 211, 91);
      transform: translateY(-5px);
    }
  }
}

@media (max-width: 864px) {
  .priceWrap {
    display: block;
    margin-bottom: 40px;
  }
}

@keyframes upDawn {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
