.all-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  margin: 0;
  padding: 0;
}

/*모바일 (364px 이상)*/
@media (min-width: 364px) {
  .all-container {
    max-width: 100%;
    padding: 0 20px;
  }
}

/* 태블릿 (768px 이상) */
@media (min-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

/* 작은 데스크탑 (1024px 이상) */
@media (min-width: 1024px) {
  .container {
    max-width: 100%;
  }
}

/* 큰 데스크탑 (1280px 이상) */
@media (min-width: 1280px) {
  .container {
    max-width: 100%;
  }
}
