.btn {
  max-width: 100px;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 3px 4px rgb(150, 150, 150);
  width: 100%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  font-weight: 400;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 1px 5px 4px rgb(150, 150, 150);
  }
}
